[Unit]
Description=Swat startup hook
Before=network.target
After=dbus.service
Before=wpa_supplicant.service
Wants=network.target

[Service]
Type=oneshot
ExecStart=/home/swat/swat_scripts/swat_set_gateway.sh 
ExecStart=/home/swat/swat_scripts/swat_set_ip.sh 
ExecStart=/home/swat/swat_scripts/swat_set_router.sh 
ExecStart=/home/swat/swat_scripts/swat_set_email.sh
ExecStart=/home/swat/swat_scripts/swat_set_wifi_address.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
Alias=swat.service
